.container {
  margin-top: 50px;
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: 50px;
}
.textContainer {
  flex: 1;
}
.title {
  font-size: 54px;
  margin-bottom: 50px;
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.userImageContainer {
  width: 50px;
  height: 50px;
  position: relative;
}
.avatar {
  border-radius: 50%;
  object-fit: cover;
}
.userTextContainer {
  display: flex;
  flex-direction: column;
  color: var(--softTextColor);
  gap: 5px;
}
.username {
  font-weight: 500;
}
.date {
  font-size: 14px;
  font-weight: 400;
}
.imageContainer {
  flex: 1;
  height: 350px;
  position: relative;
}
.image {
  object-fit: cover;
}
.content {
  display: flex;
  gap: 50px;
}
.post {
  flex: 4;
  margin-top: 60px;
}
@media screen and (max-width: 1536px) {
  .title {
    font-size: 54px;
  }
}
@media screen and (max-width: 1280px) {
  .title {
    font-size: 48px;
  }
}
@media screen and (max-width: 1024px) {
  .infoContainer {
    display: block;
  }
  .imageContainer {
    margin-top: 30px;
  }
}
@media screen and (max-width: 640px) {
  .title {
    font-size: 36px;
  }
  .description p {
    font-size: 14px;
  }
}
